html {
    font-family: "program", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

/*
@media (min-width: 710px) {
    h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 1020px) {
    h1 {
        font-size: 3em;
    }
}
*/
